<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Confirm</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
    
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
    }
    
tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

</head>

<body>
  <script src="js/scripts.js"></script>

  <table>
    <tr>
      <th>Order</th>
      <th>Product</th>
      <th>Description</th>
      <th>Price</th>
      <th>ID</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Oil filter</td>
      <td>Filter oil</td>
      <td>20.00€</td>
      <td>3572</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Spare wheel</td>
      <td>A new wheel</td>
      <td>125.32€</td>
      <td>1001</td>
    </tr>
  </table>

</body>
</html>